<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>miRepertorio -- Agrega tus canciones favoritas!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Fredoka:wght@300..700&family=Jersey+10&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

</head>

<body>
  <div id="AgregarCancion">
    <h2 id="titulo" class="pt-3">🎧Mi repertorio🎸</h2>
    <h3 class="fs-1">Guarda tus canciones favoritas en un solo lugar!</h3>
    <iframe src="https://giphy.com/embed/cgW5iwX0e37qg" width="480" height="270" frameBorder="0" class="giphy-embed mt-3" allowFullScreen></iframe>

    <div class="container pt-5 w-50">
      <div>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Canción:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="cancion" placeholder="Don't Break My Heart" />
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Artista: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="artista" placeholder="The Weeknd" />
          </div>
        </div>
        <div class="form-group row">
          <label for="rut" class="col-sm-2 col-form-label">Tono:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="tono" placeholder="Em" />
          </div>
        </div>
        <button onclick="nuevaCancion()" id="agregar" class="m-auto btn btn-success">
          Agregar
        </button>
        <button onclick="editarCancion()" id="editar" class="m-auto btn btn-warning">
          Editar
        </button>
      </div>
    </div>
  </div>
  <div id="ListaCanciones">
    <hr />
    <hr />
    <h2>Tabla de canciones &#127908;</h2>

    <div class="container pt-5 w-75">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Canción</th>
            <th scope="col">Artista</th>
            <th scope="col">Tono</th>
            <th scope="col">-</th>
          </tr>
        </thead>
        <tbody id="cuerpo"></tbody>
      </table>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>

<style>
  body {
    text-align: center;
    background: #2d2d2c;
    color: white;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
  }

  #titulo {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  }
</style>

<script>
  let url = "/cancion";
  let tbody = document.getElementById("cuerpo");
  let cancion = document.getElementById("cancion");
  let artista = document.getElementById("artista");
  let tono = document.getElementById("tono");

  let canciones = [];
  window.onload = getData();

  async function getData() {
    await axios.get(url + "es").then((data) => {
      canciones = data.data;
      tbody.innerHTML = "";
      console.log(canciones)
      canciones.forEach((c, i) => {
        tbody.innerHTML += `
        <tr>
          <td>${i + 1}</td>
          <td>${c.titulo}</td>
          <td>${c.artista}</td>
          <td>${c.tono}</td>
          <td>
            <button class="btn btn-warning" onclick="prepararCancion(${i},'${c.id
          }')">Editar</button>
            <button class="btn btn-danger" onclick="eliminarCancion(${i},'${c.id
          }')">Eliminar</button>
          </td>
        </tr>
      `;
      });
    });
    cancion.value = "";
    artista.value = "";
    tono.value = "";
  }

  function nuevaCancion() {
    cancion;
    artista;
    tono;
    let data = {
      titulo: cancion.value,
      artista: artista.value,
      tono: tono.value,
    };
    console.log(data);
    axios.post(url, data).then(() => getData());
  }

  function eliminarCancion(i, id) {
    axios.delete(url + "?id=" + id).then(() => {
      alert("Canción " + canciones[i].titulo + " eliminada");
      getData();
    });
  }

  function prepararCancion(i, id) {
    cancion.value = canciones[i].titulo;
    artista.value = canciones[i].artista;
    tono.value = canciones[i].tono;
    document
      .getElementById("editar")
      .setAttribute("onclick", `editarCancion('${id}')`);
    document.getElementById("agregar").style.display = "none";
    document.getElementById("editar").style.display = "block";
  }

  function editarCancion(id) {
    axios
      .put(url + "/" + id, {
        titulo: cancion.value,
        artista: artista.value,
        tono: tono.value,
      })
      .then(() => {
        getData();
        document.getElementById("agregar").style.display = "block";
        document.getElementById("editar").style.display = "none";
      });
  }
</script>